.title-header {
    background-image: url('../img/madrid-background.jpeg'); /* Replace with your header image */
    /*background-size: cover;*/
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
}

.title-header h1 {
    font-family: "Helvetica Neue", Arial, sans-serif; 
    color: #566398; 
    font-size: 2.5em;
    background-color: #a9b4f9;
    display: inline-block;
    font-weight: bold;
}

.title-header .highlight {
    color: #ffa500; 
    text-transform: uppercase;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
}

body {
    
    font-family: "Baskerville", serif;
    vertical-align: center;
    text-align: center;    
}


.slider-frame {
    position: relative;
    max-width: 48rem;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}
    
.slider-frame ul {
    position: static;
    left: 0;
    width: 100%;
    padding: 0;
    display: flex;
    list-style: none;
    animation: slide 20s infinite;
}
    
.slider-frame li {
    flex: 1 0 100%;
}
    
.slider-frame img {
    width: 100%;
    flex: 1 0 100%;
    object-fit: cover;
}
    
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    7.69% {
        transform: translateX(0);
    }
    15.38% {
        transform: translateX(-100%);
    }
    23.07% {
        transform: translateX(-100%);
    }
    30.76% {
        transform: translateX(-200%);
    }
    38.46% {
        transform: translateX(-200%);
    }
    46.15% {
        transform: translateX(-300%);
    }
    53.84% {
        transform: translateX(-300%);
    }
    61.53% {
        transform: translateX(-400%);
    }
    69.22% {
        transform: translateX(-400%);
    }
    76.92% {
        transform: translateX(-500%);
    }
    84.61% {
        transform: translateX(-500%);
    }
    92.3% {
        transform: translateX(-600%);
    }
    100% {
        transform: translateX(-600%);
    }
}


p {
    margin: 20px 0;
    font-size: 1.2em;
}

.explore-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}

.explore-button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    padding: 10px;
    flex: 1;
    text-align: center;
}

.footer-section h2 {
    font-size: 1.2em;
}

.footer-section p {
    font-size: 0.9em;
    text-align: justify;
}

.footer-section ul {
    list-style: none;
    font-size: 0.9em;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    text-decoration: none;
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
}