
body {
    background-image: url("madrid1.jpg");
    font-family: Poppins, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 2em;
}

p {
    margin: 20px 0;
    font-size: 1.2em;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    max-width: 300px;
    margin: 10px;
    border-radius: 8px;
}

.explore-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #0056b3;
}