.contact {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.map {
    width: 40%; 
    height: 300px; 
}

.table-container {
    margin-top: 20px; 
    margin: 0 auto;
}

.table-container th, .table-container td {
    padding: 8px 12px; 
}