.history .content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history img{
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  float: left;
}

.history p{
  line-height: 1.6;
  margin-bottom: 15px;
  float: right;
}

.history img + p {
  margin-top: 15px;
}
