.events-index {
    list-style: none; 
    padding:0;
    background-color: #222;
}

.events-index li{
    padding: 10px; 
    margin: 0; 
    display: inline-block;
    background-color: #222;
   
}
  
.events-index li a {
    text-decoration: none; 
    color: white; 
}
.container {
    display: flex;
    justify-content: space-between;
}

.events-sidebar {
    flex: 80%; /* Ocupa el espacio disponible */
    order: 1; /* Cambia el orden, colocándolo al final */
    padding: 20px;
}

.news-sidebar {
    flex: 20%; /* Ocupa el espacio disponible */
    order: 2; /* Cambia el orden, colocándolo al principio */
    padding: 20px;
    border-left: 1px solid #ccc;
    
}

.events {
    font-family: "Baskerville", serif;
    font-size: small;
    vertical-align: center;
    text-align: left;
}

.events h2 {
    margin-top: 3em;
}

.events p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.news {
    font-family: "Baskerville", serif;
    vertical-align: center;
   
    
}

.news li {
    list-style: none;
    font-size: small;
    margin-top: 2em;
   

    
}


.news li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
}


