<!--Contact information including addresses, institutions (opening hours etc.)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/contact.css">
    <header>
        <nav>
            <a href="index.html">Main Page</a>
            <a href="news.html">News & Events</a>
            <a href="history.html">History</a>
            <a href="sightseeings.html">Sightseeings</a>
            <a href="services.html">Services</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <style>
       
    </style>
</head>
<body>
    <div class="contact">
        <h1>Where could you find us:</h1>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4783.728531753723!2d-3.6941534464645374!3d40.418351630570335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42289b50049bed%3A0x3f77a7d1bc91ff77!2sPunto%20de%20Informaci%C3%B3n%20Tur%C3%ADstica%20Centro%20Centro!5e0!3m2!1ses!2scz!4v1700070988719!5m2!1ses!2scz"></iframe>"></iframe>
        <table class="table-container">
            <tr>
                <th>Email</th>
                <th>Telephone number</th>
                <th>Opening hours</th>
            </tr>
            <tr>
                <td>informationmadrid@gmail.com</td>
                <td>+34 608 364 141</td>
                <td>8:00-20:00</td>
            </tr>
        </table>
    </div>
</body>
</html>