<!--History of the city/town, popular people born in the town, etc.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/history.css">


    <title>Explore Madrid</title>
    <header class="title-header">
        <h1>Welcome to <span class="highlight">Madrid</span></h1>

        <header>
            <nav>
                <a href="index.html">Main Page</a>
                <a href="news.html">News & Events</a>
                <a href="history.html">History</a>
                <a href="sightseeings.html">Sightseeings</a>
                <a href="services.html">Services</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
    </header>   
</head>
<body class="history">
    <div class="content">
        <img src="../img/madrid0.jpg"></img>
        <p>The origins of Madrid date back to the pre-Roman period, when the area was nothing more than a rural region. The remains of a Visigoth basilica found on the current site of the Almudena Cathedral demonstrate the high probability of the presence of settlements.
            The first evidence of permanent settlements is during the Muslim era, with the construction of a defensive fortress next to the river. It is believed that the name of Madrid comes from said fortified Muslim settlement from the 9th century, called Mayrīţ.</p>
    </div>
</body>

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>About Madrid</h2>
                <p>Madrid, the vibrant capital of Spain, is a captivating blend of rich history and modern energy. Explore world-class art museums, savor delicious tapas, and soak in the lively street life in this city where tradition meets contemporary flair, 
                a city where the past and present seamlessly intertwine, creating a dynamic and unforgettable urban experience. Discover the magic here.</p>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="landing.html">Main Page</a></li>
                    <li><a href="news.html">News & Events</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="sightseeings.html">Sightseeings</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2>Contact Information</h2>
                <p>Email: info@madrid.com</p>
                <p>Phone: +123-456-7890</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2023 Madrid Presentation | All rights reserved
    </div>
</footer>

</html>
