<!--History of the city/town, popular people born in the town, etc.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <header>
        <nav>
            <a href="index.html">Main Page</a>
            <a href="news.html">News & Events</a>
            <a href="history.html">History</a>
            <a href="sightseeings.html">Sightseeings</a>
            <a href="services.html">Services</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <style>
       
    </style>
</head>
<body>
    <h1>Explore [Town/City Name]</h1>
</body>
</html>