<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/base.css">

    <title>Explore [Town/City Name]</title>
    <style>
       
    </style>
</head>
<body>
    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img src="../img/madrid0.jpg"></img>
                <img src="../img/madrid1.jpg"></img>
                <img src="../img/madrid2.jpg"></img>
                <img src="../img/madrid3.jpg"></img>
                <img src="../img/madrid4.jpg"></img>
                <img src="../img/madrid5.jpg"></img>
                <img src="../img/madrid6.jpg"></img>
                <img src="../img/madrid7.jpg"></img>
                <img src="../img/madrid8.jpg"></img>
                <img src="../img/madrid9.jpg"></img>
                <img src="../img/madrid10.jpg"></img>
                <img src="../img/madrid11.jpg"></img>
                <img src="../img/madrid12.jpg"></img>
                <img src="../img/madrid13.jpg"></img>
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
                <a href="#slide-5"></a>
                <a href="#slide-6"></a>
                <a href="#slide-7"></a>
                <a href="#slide-8"></a>
                <a href="#slide-9"></a>
                <a href="#slide-10"></a>
                <a href="#slide-11"></a>
                <a href="#slide-12"></a>
                <a href="#slide-13"></a>
            </div>
        </div>
    </section>
    <h1>Welcome to [Town/City Name]</h1>
        <p>Discover the beauty and charm of our wonderful town/city.</p>
        
        <div class="image-container">
            <!-- Add more images as needed -->
        </div>

        <p>Ready to start your adventure?</p>
        <a href="explore.html" class="explore-button">Explore Now</a>
   
</body>
</html>
