<!--News, events, calendar, etc.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/base.css">


    <title>Explore Madrid</title>
    <header class="title-header">
        <h1>Welcome to <span class="highlight">Madrid</span></h1>

        <header>
            <nav>
                <a href="index.html">Main Page</a>
                <a href="news.html">News & Events</a>
                <a href="history.html">History</a>
                <a href="sightseeings.html">Sightseeings</a>
                <a href="services.html">Services</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
    </header>   
</head>
<body>
    <h1>Calendar of events in Madrid 2023-2024</h1>
    <ul>
        <li><a href="#section1">Exhibitions</a></li>
        <li><a href="#section2">Fairs and congresses</a></li>
        <li><a href="#section3">Music</a></li>
        <li><a href="#section4">Musicals</a></li>
        <li><a href="#section5">Parties and events</a></li>
        <li><a href="#section6">Sport</a></li>
        <li><a href="#section7">Kids</a></li>
    </ul>

    <h2 id="section1">Exhibitions</h2>
    <p>Los últimos días de Pompeya. La exposición inmersiva <i>(The Last Days of Pompeii. The Immersive Exhibition)</i>: Discover the life and customs of the legendary Roman city (Matadero Madrid - Nave 16. Mon-Sun)</p>
    <p>Picasso: Sin Título <i>(Picasso: Untitled)</i>: Exhibition bringing together 50 works from the artist's final period through the perspectives of 50 contemporary national and international artists (La Casa Encendida. Until Jan 7)</p>
    <p>Walking life: Surrealist installation by Spanish artist Okuda San Miguel, reflecting on the paths we choose in life (Museo Gran Vía 15. Until Nov 30)</p>
    <p>Fake news: La fábrica de mentiras <i>(Fake news: The factory of lies)</i>: Exhibition aiming to address the phenomenon of fake news and provoke reflection on their impact on society (Espacio Fundación Telefónica. Until Jan 7)</p>
    <p>En movimiento. Vehículos y carruajes de Patrimonio Nacional <i>(In Motion. Vehicles and Carriages of National Heritage)</i>:Journey through the history of carriages in Spain with fifty vehicles used by Spanish monarchs from the 16th to the 20th century (Galería Colecciones Reales. Until Jun 2024)</p>
    <p>Eduardo Rosales(1836-1973) al Museo del Prado <i>(Eduardo Rosales (1836-1873) at the Prado Museum)</i>: Exhibition commemorating the 150th anniversary of the painter's death, featuring twelve works (Museo del Prado. Until Jan 29)</p>
    <p>La ciencia de Pixar <i>(Pixar Science)</i>: Exhibition that provides a unique perspective on the process used in the creation of Pixar films (CaixaForum Madrid. May 7 to Sept 8, 2024)</p>
    
    <h2 id="section2">Fairs and congresses</h2>
    <p>Mercedes-Benz Fashion Week Madrid (Edición febrero): Established designers and young stylists at the first of the two annual events of this prestigious catwalk (IFEMA MADRID - Pavilion 14.1. February 2024)</p>
    <p>Feria del Libro de Madrid <i>(Madrid Book Fair)</i>: The most important cultural fair in Spanish celebrates its 83rd edition, bringing together numerous visitors and writers (El Retiro Park. Paseo Fernán Núñez. End of May to beginning of June 2024)</p>
    <p>South Summit Madrid 2024: Leading global innovation platform focused on business opportunities brings together investors, corporations and founders of successful global startups (La Nave. June 5 to 7) </p>
    <p>37. Salón Gourmets: The Hall of the most select gastronomy products, a must-see event for professionals in the sector that in 2023 included Brazil as a guest country of honor (IFEMA MADRID. 2024 - dates to be determined-)</p>
    <p>World Olive Oil Exhibition: El encuentro mundial del aceite de oliva congrega a los mayores profesionales del sector (IFEMA MADRID - Pabellón 1. 26 y 27 febrero)</p>
    
    <h2 id="section3">Music</h2>
    <p>Taylor Swift: The American star will offer a unique concert in Spain as part of her successful The Eras Tour, where she revisits her musical journey (Santiago Bernabéu Stadium. May 30, 2024)</p>
    <p>Green Day: The legendary American punk rock band presents their new album, "Saviors," as part of the Road to Río Babel event, the prelude to the Río Babel Festival (Caja Mágica. June 1)</p>
    <p>Noches del Botánico: Live concerts in this beautiful natural space featuring the best national and international artists (Botanical Garden of the Complutense University. June-July 2024)</p>
    <p>Bruce Springsteen: The iconic artist returns to Madrid as part of his European tour with The E Street Band (Cívitas Metropolitano Stadium. June 12, 14, and 17)</p>
    <p>Olivia Rodrigo: The three-time Grammy-winning American artist visits Madrid to present "GUTS," one of the most anticipated albums of the year (WiZink Center. June 20, 2024)</p>
    <p>Morat: The successful Colombian band kicks off their stadium tour, visiting Madrid for their only concert in Europe (Cívitas Metropolitano Stadium. June 21, 2024)</p>
    
    <h2 id="section4">Musicals</h2>
    <p>The Lion King: The largest musical production ever presented in Spain celebrates its 12th season. Over 110 million viewers worldwide (Lope de Vega Theater. Tuesdays to Sundays)</p>
    <p>Aladdin, the musical: The successful Disney musical that has triumphed worldwide arrives in Spain courtesy of Stage Entertainment (Coliseum Theater. Tuesdays to Sundays)</p>
    <p>Mamma Mia! The musical: The celebrated musical featuring ABBA songs returns with a new production, choreography, costumes, and set design (Rialto Theater. Tues-Sun)</p>
    <p>Matilda, the musical: New season of this blockbuster production based on Roald Dahl's book (Nuevo Teatro Alcalá. Wed-Sun)</p>
    <p>School of Rock, the musical: Leo Rivera stars in the musical based on the popular movie that has been a hit on Broadway (Ibercaja Delicias Space. Tues-Sun)</p>
    <p>Malinche: Second season of Nacho Cano's musical about the love story between Malinche and Hernán Cortés (Malinche Space - IFEMA MADRID. Wed-Sun)</p>
    
    <h2 id="section5">Parties and events</h2>
    <p>China Taste 2024: Gastronomic events where, coinciding with the celebration of the Chinese New Year, you can discover the richness of Chinese cuisine (Various venues. Jan-Feb. To be confirmed)</p>
    <p>San Antón Festivities 2024: The Madrid City Council celebrates the day of San Antonio Abad, the patron saint of animals, every year (January 13 to 17, 2024)</p>
    <p>Chinese New Year Madrid 2024: On February 10, 2024, the Year of the Dragon will begin, and for the ninth consecutive year, Madrid will celebrate it with a comprehensive program of activities</p>
    <p>Carnival Madrid 2024:From Carnival Friday to Ash Wednesday, Madrid surrenders year after year to the festival of identity play, with parties and parades (February 10 to 14, 2024). Don't miss the carnival sardine!</p>
    <p>Ellas Crean 2024: A new edition of the festival with a multidisciplinary program that brings together female talents from disciplines such as music, theater, and dance (Various venues. March 2024)</p>
    <p>Holy Week 2024: Processions, the San Ginés organ music cycle, saetas, the drumming procession, and many traditional dishes (March 24 to 31, 2024)</p>
    
    <h2 id="section6">Sport</h2>
    <p>Real Madrid - FC Barcelona (LALIGA EA SPORTS): Gastronomic events where, coinciding with the celebration of the Chinese New Year, you can discover the richness of Chinese cuisine (Various venues. Jan-Feb. To be confirmed)</p>
    <p>San Antón Festivities 2024: The Madrid City Council celebrates the day of San Antonio Abad, the patron saint of animals, every year (January 13 to 17, 2024)</p>
    <p>Chinese New Year Madrid 2024: On February 10, 2024, the Year of the Dragon will begin, and for the ninth consecutive year, Madrid will celebrate it with a comprehensive program of activities</p>
    <p>Carnival Madrid 2024:From Carnival Friday to Ash Wednesday, Madrid surrenders year after year to the festival of identity play, with parties and parades (February 10 to 14, 2024). Don't miss the carnival sardine!</p>
    <p>Ellas Crean 2024: A new edition of the festival with a multidisciplinary program that brings together female talents from disciplines such as music, theater, and dance (Various venues. March 2024)</p>
    <p>Holy Week 2024: Processions, the San Ginés organ music cycle, saetas, the drumming procession, and many traditional dishes (March 24 to 31, 2024)</p>
    
    <h2 id="section7">Kids</h2>
    <p>Contenido de la sección 1...</p>
        

</body>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>About Madrid</h2>
                <p>Madrid, the vibrant capital of Spain, is a captivating blend of rich history and modern energy. Explore world-class art museums, savor delicious tapas, and soak in the lively street life in this city where tradition meets contemporary flair, 
                a city where the past and present seamlessly intertwine, creating a dynamic and unforgettable urban experience. Discover the magic here.</p>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="landing.html">Main Page</a></li>
                    <li><a href="news.html">News & Events</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="sightseeings.html">Sightseeings</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2>Contact Information</h2>
                <p>Email: info@madrid.com</p>
                <p>Phone: +123-456-7890</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2023 Madrid Presentation | All rights reserved
    </div>
</footer>

</html>
