<!--News, events, calendar, etc.-->
<!-- HTML structure for the News & Events page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta information for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to external CSS stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/history.css">

    <!-- Title and header with navigation links -->
    <title>Explore Madrid</title>
    <header class="title-header">
        <h1>Welcome to <span class="highlight">Madrid</span></h1>

        <!-- Navigation links in the header -->
        <header>
            <nav>
                <a href="index.html">Main Page</a>
                <a href="news.html">News & Events</a>
                <a href="history.html">History</a>
                <a href="sightseeings.html">Sightseeings</a>
                <a href="services.html">Services</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
    </header>
</head>
<body>
        <!-- Main content section with calendar of events and recent news -->
        <main>
            <div class = "container">
            <!-- Events sidebar with a calendar and links to event sections -->
            <div class = "events-sidebar">
            <h1>Calendar of events in Madrid 2023-2024</h1>
            <ul class="events-index">
                <!-- Links to different event sections -->
                <li><a href="#section1">Exhibitions</a></li>
                <li><a href="#section2">Fairs and congresses</a></li>
                <li><a href="#section3">Music</a></li>
                <li><a href="#section4">Musicals</a></li>
                <li><a href="#section5">Parties and events</a></li>
                <li><a href="#section6">Sport</a></li>
                <li><a href="#section7">Kids</a></li>
            </ul>
            <div class = "events">
             <!-- Detailed information about each event section -->
            <h2 id="section1">Exhibitions</h2>
            <p><a href="https://madridartesdigitales.com/agenda/pompeya/">Los últimos días de Pompeya. La exposición inmersiva <i>(The Last Days of Pompeii. The Immersive Exhibition)</i>:</a> Discover the life and customs of the legendary Roman city (Matadero Madrid - Nave 16. Mon-Sun)</p>
            <p><a href="https://www.lacasaencendida.es/exposiciones/exposicion-de-obras-picasso-sin-titulo">Picasso: Sin Título <i>(Picasso: Untitled)</i>:</a> Exhibition bringing together 50 works from the artist's final period through the perspectives of 50 contemporary national and international artists (La Casa Encendida. Until Jan 7)</p>
            <p><a href="https://museogranvia15.com/">Walking life:</a> Surrealist installation by Spanish artist Okuda San Miguel, reflecting on the paths we choose in life (Museo Gran Vía 15. Until Nov 30)</p>
            <p><a href="https://espacio.fundaciontelefonica.com/evento/fake-news-la-fabrica-de-mentiras/">Fake news: La fábrica de mentiras <i>(Fake news: The factory of lies)</i>:</a> Exhibition aiming to address the phenomenon of fake news and provoke reflection on their impact on society (Espacio Fundación Telefónica. Until Jan 7)</p>
            <p><a href="https://www.patrimonionacional.es/actualidad/noticias/en-movimiento-la-primera-exposicion-temporal-de-la-galeria-propone-un-recorrido">En movimiento. Vehículos y carruajes de Patrimonio Nacional <i>(In Motion. Vehicles and Carriages of National Heritage)</i>:</a>Journey through the history of carriages in Spain with fifty vehicles used by Spanish monarchs from the 16th to the 20th century (Galería Colecciones Reales. Until Jun 2024)</p>
            <p><a href="https://www.museodelprado.es/actualidad/exposicion/pinturas-de-eduardo-rosales-1836-1873-en-el-museo/7a0c8466-cee7-4245-a306-2f94de7e5771">Eduardo Rosales(1836-1973) al Museo del Prado <i>(Eduardo Rosales (1836-1873) at the Prado Museum)</i>:</a> Exhibition commemorating the 150th anniversary of the painter's death, featuring twelve works (Museo del Prado. Until Jan 29)</p>
            <p><a href="https://caixaforum.org/es/madrid/p/la-ciencia-de-pixar_a164499855">La ciencia de Pixar <i>(Pixar Science)</i>:</a> Exhibition that provides a unique perspective on the process used in the creation of Pixar films (CaixaForum Madrid. May 7 to Sept 8, 2024)</p>
            
            <h2 id="section2">Fairs and congresses</h2>
            <p><a href="https://www.ifema.es/mbfw-madrid" target="_blank">Mercedes-Benz Fashion Week Madrid (Edición febrero):</a> Established designers and young stylists at the first of the two annual events of this prestigious catwalk (IFEMA MADRID - Pavilion 14.1. February 2024)</p>
            <p><a href="https://ferialibromadrid.com/" target="_blank">Feria del Libro de Madrid <i>(Madrid Book Fair)</i>:</a> The most important cultural fair in Spanish celebrates its 83rd edition, bringing together numerous visitors and writers (El Retiro Park. Paseo Fernán Núñez. End of May to beginning of June 2024)</p>
            <p><a href="https://www.southsummit.io/madrid/" target="_blank">South Summit Madrid 2024:</a> Leading global innovation platform focused on business opportunities brings together investors, corporations and founders of successful global startups (La Nave. June 5 to 7) </p>
            <p><a href="https://www.gourmets.net/salon-gourmets" target="_blank">37. Salón Gourmets:</a> The Hall of the most select gastronomy products, a must-see event for professionals in the sector that in 2023 included Brazil as a guest country of honor (IFEMA MADRID. 2024 - dates to be determined-)</p>
            <p><a href="https://oliveoilexhibition.com/" target="_blank">World Olive Oil Exhibition:</a> El encuentro mundial del aceite de oliva congrega a los mayores profesionales del sector (IFEMA MADRID - Pabellón 1. 26 y 27 febrero)</p>
            
            <h2 id="section3">Music</h2>
            <p><a href="https://www.taylorswift.com/" target="_blank">Taylor Swift:</a> The American star will offer a unique concert in Spain as part of her successful The Eras Tour, where she revisits her musical journey (Santiago Bernabéu Stadium. May 30, 2024)</p>
            <p><a href="https://raphaelnet.com/" target="_blank">Raphael:</a> One of the most recognized voices in Spanish music takes to the stage again with a new tour where she presents her new album Victoria (WiZink Center. Dec. 16)</p>
            <p><a href="https://metallica.com/" target="_blank">Metallica:</a> One of the most prominent thrash metal bands in history offers a double concert date as part of its M72 World Tour (Cívitas Metropolitano Stadium. July 12 and 14, 2024)</p>
            <p><a href="https://brucespringsteen.net/" target="_blank">Bruce Springsteen:</a> The iconic artist returns to Madrid as part of his European tour with The E Street Band (Cívitas Metropolitano Stadium. June 12, 14, and 17)</p>
            <p><a href="https://www.oliviarodrigo.com/" target="_blank">Olivia Rodrigo:</a> The three-time Grammy-winning American artist visits Madrid to present "GUTS," one of the most anticipated albums of the year (WiZink Center. June 20, 2024)</p>
            <p><a href="https://www.moratoficial.com/" target="_blank">Morat:</a> The successful Colombian band kicks off their stadium tour, visiting Madrid for their only concert in Europe (Cívitas Metropolitano Stadium. June 21, 2024)</p>
            
            <h2 id="section4">Musicals</h2>
            <p><a href="https://www.stage.es/musicales/el-rey-leon" target="_blank">The Lion King:</a> The largest musical production ever presented in Spain celebrates its 12th season. Over 110 million viewers worldwide (Lope de Vega Theater. Tuesdays to Sundays)</p>
            <p><a href="https://www.stage.es/musicales-madrid" target="_blank">Aladdin, the musical:</a> The successful Disney musical that has triumphed worldwide arrives in Spain courtesy of Stage Entertainment (Coliseum Theater. Tuesdays to Sundays)</p>
            <p><a href="https://mammamiaelmusical.es/" target="_blank">Mamma Mia! The musical:</a> The celebrated musical featuring ABBA songs returns with a new production, choreography, costumes, and set design (Rialto Theater. Tues-Sun)</p>
            <p><a href="https://www.musicalmatilda.es/" target="_blank">Matilda, the musical:</a> New season of this blockbuster production based on Roald Dahl's book (Nuevo Teatro Alcalá. Wed-Sun)</p>
            <p><a href="https://xn--schoolofrockespaa-uxb.com/" target="_blank">School of Rock, the musical:</a> Leo Rivera stars in the musical based on the popular movie that has been a hit on Broadway (Ibercaja Delicias Space. Tues-Sun)</p>
            <p><a href="https://malinchethemusical.com/" target="_blank">Malinche:</a> Second season of Nacho Cano's musical about the love story between Malinche and Hernán Cortés (Malinche Space - IFEMA MADRID. Wed-Sun)</p>
            
            <h2 id="section5">Parties and events</h2>
            <p><a href="https://ccchinamadrid.org/china-taste-2023" target="_blank">China Taste 2024:</a> Gastronomic events where, coinciding with the celebration of the Chinese New Year, you can discover the richness of Chinese cuisine (Various venues. Jan-Feb. To be confirmed)</p>
            <p><a href="https://diario.madrid.es/blog/notas-de-prensa/las-fiestas-de-san-anton-2023-reconocen-la-labor-de-los-perros-de-asistencia/" target="_blank">San Antón Festivities 2024:</a> The Madrid City Council celebrates the day of San Antonio Abad, the patron saint of animals, every year (January 13 to 17, 2024)</p>
            <p><a href="https://www.esmadrid.com/agenda/a%C3%B1o-nuevo-chino-madrid" target="_blank">Chinese New Year Madrid 2024:</a> On February 10, 2024, the Year of the Dragon will begin, and for the ninth consecutive year, Madrid will celebrate it with a comprehensive program of activities</p>
            <p><a href="https://www.carnavalmadrid.com/" target="_blank">Carnival Madrid 2024:</a>From Carnival Friday to Ash Wednesday, Madrid surrenders year after year to the festival of identity play, with parties and parades (February 10 to 14, 2024). Don't miss the carnival sardine!</p>
            <p><a href="http://ellascrean.com/" target="_blank">Ellas Crean 2024:</a> A new edition of the festival with a multidisciplinary program that brings together female talents from disciplines such as music, theater, and dance (Various venues. March 2024)</p>
            <p><a href="https://www.esmadrid.com/agenda/semanasanta-madrid" target="_blank">Holy Week 2024:</a> Processions, the San Ginés organ music cycle, saetas, the drumming procession, and many traditional dishes (March 24 to 31, 2024)</p>
            
            <h2 id="section6">Sport</h2>
            <p><a href="http://www.realmadrid.com/" target="_blank">Real Madrid - FC Barcelona (LALIGA EA SPORTS):</a> Gastronomic events where, coinciding with the celebration of the Chinese New Year, you can discover the richness of Chinese cuisine (Various venues. Jan-Feb. To be confirmed)</p>
            <p><a href="https://www.madridindoorathletics.es/" target="_blank">Meeting Villa de Madrid / World Indoor Tour Gold Madrid 2024:</a> Madrid once again hosts the final event of the World Athletics Indoor Tour Gold (CDM Gallur. February 23, 2024)</p>
            <p><a href="https://hotwheelsmonstertruckslive.com/event/madrid-es-2023/" target="_blank">Hot Wheels Monster Trucks - Live Glow Party 2024:</a> The new “monster truck” show visits Madrid again as part of its European tour Live Glow Party (WiZink Center. January 3 and 4)</p>
            <p><a href="http://www.realmadrid.com/baloncesto" target="_blank">Real Madrid - Bayern Munich (Euroliga. Jornada 14):</a>The white club coached by Chus Mateo faces off against the German team, one of the most prominent in the Bundesliga (WiZink Center. December 14)</p>
            <p><a href="https://www.harlemglobetrotters.com/" target="_blank">Harlem Globetrotters</a>The world tour of basketball magicians returns to delight the public with their impossible dunks (WiZink Center. May 10)</p>
            <p><a href="https://www.world.rugby/sevens-series/" target="_blank">World Rugby Seven Series:</a> For the next three years, Madrid will host the Grand Final of the Rugby World Series (Cívitas Metropolitano Stadium. First Grand Final: June 2024)</p>
            
            <h2 id="section7">Kids</h2>
            <p><a href="https://www.stage.es/musicales-madrid" target="_blank">Aladdin, the musical:</a> The successful Disney musical that has triumphed worldwide arrives in Spain, courtesy of Stage Entertainment (Teatro Coliseum. Tuesdays to Sundays)</p>
            <p><a href="https://www.musicalmatilda.es/" target="_blank">Matilda, the musical:</a> New season of this superproduction based on the book by Roald Dahl (Nuevo Teatro Alcalá. Wednesdays to Sundays)</p>
            <p><a href="https://www.alsa.es/servicios-turisticos/tren-de-los-reyes-magos" target="_blank">Christmas Train at the Railway Museum:</a> A magical journey on a historic train with onboard children's entertainment and the presence of the Royal Page (Departure and arrival: Railway Museum. Dec 26, 27, 28, 29, 30, and Jan 2, 3, 4, 5)</p>
            <p><a href="https://www.esmadrid.com/agenda/cabalgata-reyes" target="_blank">Three Kings Parade Madrid 2024:</a>The Three Wise Men visit each house in Madrid from January 5 to 6, but on the previous evening, they parade through the streets in a spectacular procession (January 5, 2024)</p>
            <p><a href="https://www.disneyonice.com/es-es" target="_blank">Disney On Ice - 100 Years of Magic:</a> An elegant and fun ice show celebrating the 100 years of Disney (WiZink Center. February 8 to 11)</p>
            </div>
        
    </div>
        <div class="news-sidebar">
            <!-- News sidebar with recent news articles -->
           <h2>Recent News</h2>
           <div = class="news">
            <ul>
                <li><img src="../img/news1.jpeg" width="200px" lenght="200px" ></img><br><a href="https://www.thelocal.es/20231108/why-do-people-in-madrid-live-longer-than-anywhere-else-in-the-eu">Why do people in Madrid live longer than anywhere else in the EU? </a> - LIFE IN SPAIN</li>
                <li><img src="../img/news2.jpeg" width="200px" lenght="200px" ></img><br><a href="https://www.thelocal.es/20231020/madrids-carabanchel-neighbourhood-named-third-coolest-in-the-world">Madrid's Carabanchel neighbourhood named third coolest in the world</a> - DISCOVER MADRID</li>
                <li><img src="../img/news3.jpg" width="200px" lenght="200px" ></img><br><a href="https://www.madrid.es/portales/munimadrid/es/Inicio/English/Madrid-hosts-EUROCITIES-Digital-Forum/?vgnextfmt=default&vgnextoid=34c7ee21356d3810VgnVCM2000001f4a900aRCRD&vgnextchannel=29367421ee261510VgnVCM2000000c205a0aRCRD">Madrid hosts EUROCITIES Digital Forum</a> - DIPLOMACY</li>
                <li><img src="../img/news4.jpg" width="200px" lenght="200px" ></img><br><a href="https://www.independent.co.uk/f1/f1-real-madrid-barcelona-circuit-b2458747.html">F1 set to announce new street circuit in Madrid for 2026</a> - SPORT</li>
            </ul>
        </div>
        </div>
    </div>
    </main>
    </body>

<!-- Footer section with information about Madrid and quick links -->
<footer>
    <div class="container">
        <div class="footer-content">
            <!-- About Madrid section -->
            <div class="footer-section about">
                <h2>About Madrid</h2>
                <p>Madrid, the vibrant capital of Spain, is a captivating blend of rich history and modern energy. Explore world-class art museums, savor delicious tapas, and soak in the lively street life in this city where tradition meets contemporary flair, 
                a city where the past and present seamlessly intertwine, creating a dynamic and unforgettable urban experience. Discover the magic here.</p>
            </div>

            <!-- Quick Links section -->
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="landing.html">Main Page</a></li>
                    <li><a href="news.html">News & Events</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="sightseeings.html">Sightseeings</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <!-- Contact Information section -->
            <div class="footer-section contact">
                <h2>Contact Information</h2>
                <p>Email: info@madrid.com</p>
                <p>Phone: +123-456-7890</p>
            </div>
        </div>
    </div>

    <!-- Bottom section of the footer with copyright information -->
    <div class="footer-bottom">
        &copy; 2023 Madrid Presentation | All rights reserved
    </div>
</footer>

</html>
