<!--Services (accommodation, restaurants, sections for locals, etc.)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/services.css">


    <title>Explore Madrid</title>
    <header class="title-header">
        <h1>Welcome to <span class="highlight">Madrid</span></h1>

        <header>
            <nav>
                <a href="index.html">Main Page</a>
                <a href="news.html">News & Events</a>
                <a href="history.html">History</a>
                <a href="sightseeings.html">Sightseeings</a>
                <a href="services.html">Services</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
    </header>   
</head>
<body class="services">
    <div class="content">
        <a class="menu-link" href="#hoteles">Accomodation</a><a class="menu-link" href="#restaurantes">Restaurants</a><a class="menu-link" href="#locales">Dance Clubs</a>
        <section id="hoteles">
            <h1>To sleep:</h1>
            <article>
                <h3>Hotel Emperador</h3>
                <img src="../img/services1.jpg"></img>
                <a href="https://www.emperadorhotel.com/es/">More information</a>
            </article>
            <article>
                <h3>Wellington Hotel</h3>
                <img src="../img/services2.jpg"></img>
                <a href="https://www.hotel-wellington.com/es/">More information</a>
            </article>
            <article>
                <h3>Eurostars Madrid Tower</h3>
                <img src="../img/services3.jpg"></img>
                <a href="https://www.eurostarsmadridtower.com/">More information</a>
            </article>
        </section>

        <section id="restaurantes">
            <h1>To eat the typical Madrid food:</h1>
            <article>
                <h3>Restaurante Malacatín</h3>
                <img src="../img/services4.jpg"></img>
                <a href="https://www.malacatin.com/">More information</a>
            </article>
            <article>
                <h3>Casa Carola</h3>
                <img src="../img/services5.jpg"></img>
                <a href="http://www.casacarola.com/">More information</a>
            </article>
        </section>

        <section id="locales">
            <h1>To hang out:</h1>
            <article>
                <h3>Teatro Barceló</h3>
                <img src="../img/services6.jpg"></img>
                <a href="https://teatrobarcelo.com/">More information</a>
            </article>
            <article>
                <h3>Kapital Madrid</h3>
                <img src="../img/services7.jpg"></img>
                <a href="https://teatrokapital.com/">More information</a>
            </article>
        </section>
    </div>
</body>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>About Madrid</h2>
                <p>Madrid, the vibrant capital of Spain, is a captivating blend of rich history and modern energy. Explore world-class art museums, savor delicious tapas, and soak in the lively street life in this city where tradition meets contemporary flair, 
                a city where the past and present seamlessly intertwine, creating a dynamic and unforgettable urban experience. Discover the magic here.</p>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="landing.html">Main Page</a></li>
                    <li><a href="news.html">News & Events</a></li>
                    <li><a href="history.html">History</a></li>
                    <li><a href="sightseeings.html">Sightseeings</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2>Contact Information</h2>
                <p>Email: info@madrid.com</p>
                <p>Phone: +123-456-7890</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2023 Madrid Presentation | All rights reserved
    </div>
</footer>
</html>
